{% load custom_filters %}
{% load humanize %}
{% block content %}

<table class="table table-bordered table-striped table-hover">
	<tr>
		<td>Released On</td>
		<td>Profits After Tax</td>
		<td>PAT Growth %</td>
		<td>EPS </td>
		<td>EPS Growth %</td>
		<td>P/E </td>
		<td>P/E Growth %</td>
		<td>Dividends Per Share</td>
		<td>DPS Growth %</td>
		<td>Net Assets Per Share</td>
		<td>Net Assets Growth %</td>
		<td>Share Price</td>
	</tr>
	
	{% for data in historyData %}
	<tr>
		<td> {{data.issueDate|date:"Y" }}</td>
		<td> {{data.profitAfterTax| floatformat:2 | intcomma }}</td>
		<td>{{data.patGrowthPercentage | floatformat:2 }}</td>
		<td> {{data.earningsPerShare | floatformat:2}}</td>
		<td> {{data.epsGrowthPercentage | floatformat:2}}</td>
		<td> {{data.PERatio | floatformat:2}}</td>
		<td> {{data.peRatioGrowthPercentage | floatformat:2}}</td>
		<td> {{data.devidendsPerShare }}</td>
		<td> {{data.dpsGrowthPercentage | floatformat:2}}</td>
		<td> {{data.assetsPerShare | floatformat:2}}</td>
		<td> {{data.netAssetsGrowthPercentage | floatformat:2}}</td>
		<td> {{data.sharePrice }}</td>
	</tr>
	{% endfor%}
</table>

{% endblock %}