{% load custom_filters %}
{% load humanize %}
{% block content %}

<h3> Financial Summary </h3>

<table class="table table-striped">
	<tr>
		<td>Name</td>
		<td>Symbol</td>
		<td>Revenue</td>
		<td>PAT</td>
		<td>Dividends</td>
		<td>Liability Ratio</td>
		<td>EPS </td>
		<td>P/E </td>
		<td align="center" data-toggle="tooltip" title="Add Company Financial Data"><span class="glyphicon glyphicon-plus" aria-hidden = "true" id="addCompanyFinancialData"/></td>
		
	</tr>
	{% for data in object_list %}
	<tr>
		<td><a href="viewDetailedTrade/{{ data.id }}/" >{{ data.company.companyName }}</a></td>
		<td>{{ data.company.symbol }}</td>
		<td> {{data.revenue }}</td>
		<td> {{data.profitAfterTax }}</td>
		<td> {{data.grossDividends|div:data.numberOfShares }}</td>
		<td> {{data.currentRatio }}</td>
		<td> {{data.profitAfterTax|div:data.numberOfShares}}</td>
		<td> {{data.grossDividends|div:data.numberOfShares }}</td>
		<td><span class="glyphicon glyphicon-pencil" aria-hidden = "true"/></td>
	</tr>
	{% endfor%}
</table>

{% endblock %}
<script>

   $("#addCompanyFinancialData").click(function(event){
       loadBody("/addCompanyFinancialData");
    });    
 
</script>


