{% load custom_filters %}
{% load humanize %}
{% block content %}

<h3> Financial Summary </h3>

<h4>Company : {{ company.companyName }}</h4>
<table class="table table-bordered table-striped table-hover">
	<tr>
		<td>Released On</td>
		<td>Profits After Tax</td>
		<td>PAT Growth %</td>
		<td>EPS </td>
		<td>EPS Growth %</td>
		<td>P/E </td>
		<td>P/E Growth %</td>
		<td>Dividends Per Share</td>
		<td>DPS Growth %</td>
		<td>Interest Cover Ratio</td>
		<td>Current Ratio</td>
		
	</tr>
	{% for data in object_list %}
	<tr>
		<td> {{data.issueDate|date:"Y" }}</td>
		<td> {{data.profitAfterTax| floatformat:2 | intcomma }}</td>
		<td>{{data.patGrowthPercentage | floatformat:2 }}</td>
		<td> {{data.earningsPerShare }}</td>
		<td> {{data.epsGrowthPercentage | floatformat:2}}</td>
		<td> {{data.PERatio }}</td>
		<td> {{data.peRatioGrowthPercentage | floatformat:2}}</td>
		<td> {{data.devidendsPerShare }}</td>
		<td> {{data.dpsGrowthPercentage | floatformat:2}}</td>
		<td> {{data.interestCover }}</td>
		<td> {{data.currentRatio }}</td>
	</tr>
	{% endfor%}
</table>

{% endblock %}
<script>

   $("#addCompanyFinancialData").click(function(event){
       loadBody("/addCompanyFinancialData");
    });    
 
</script>


