{% load custom_filters %}
{% load humanize %}
{% block content %}


<h3> Investments Summary <small>Last Update Date: {{ lastUpdateDate }}</small></h3>
        
<table class="table table-striped table-bordered" id = "investmentsList">
	<tr>
		<td>Symbol</td>
		<td>Quantity</td>
		<td>Paid Price</td>
		<td>Current Price</td>
		<td>Current Value</td>
		<td>Growth Pct.</td>
		<td>Dividends</td>
		<td>Profit with Dividends</td>
		<td>Total Yeild</td>
		<td align="center" data-toggle="tooltip" title="Add Investment"><a href="/addInvestment" ><span class="glyphicon glyphicon-plus" aria-hidden = "true"/></a></td>
		
	</tr>
	{% for data in investDataBySymbol %}
	<tr>
		<td>{{ data.symbol.symbol }}</td>
		<td>{{ data.quantity| floatformat:2 | intcomma}}</td>
		<td>{{ data.paidPrice | floatformat:2 | intcomma}}</td>
		<td>{{ data.symbol.price | floatformat:2 | intcomma}}</td>
		<td>{{ data.currentValue| floatformat:2 | intcomma}}</td>
		<td>{{ data.growthPercentage | floatformat:2 | intcomma}}%</td>
		<td>{{ data.dividends | floatformat:2 | intcomma}}</td>
		<td>{{ data.profitWithDividends | floatformat:2 | intcomma}}</td>
		<td>{{ data.growthPercentageWithDividends | floatformat:2 | intcomma}}%</td>
		<td><a href="deleteInvestment/{{ data.id }}/" ><span class="glyphicon glyphicon-remove" aria-hidden = "true"/></a></td>

	
	</tr>
	{% endfor%}
	
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th>{{ totalCurrentValue | floatformat:2 | intcomma}}</th>
		<th>{{ totalGrowthPercentage| floatformat:2 | intcomma}}%</th>
		<th>{{ totalDividends | floatformat:2 | intcomma}}</th>
		<th>{{ totalProfitWithDividends | floatformat:2 | intcomma}}</th>
		<th>{{ totalProfitPctWithDividends | floatformat:2 | intcomma}}%</th>
	</tr>
	
</table>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6" id="investmentsView">
            Container Left
        </div>
    </div>
</div>
<script>	

//JSON text for investments
var jsonTextInvestments ='[' +
{% for data in investDataBySymbol %}
	'{"name" : "{{ data.name }}", "y" :  {{ data.currentValue|div:totalCurrentValue }} },'+
{% endfor%}
	']';

	//remove the comma of last item
	jsonTextInvestments = jsonTextInvestments.slice(0, -2) + ']';

	var jsonObjectInvestments = jQuery.parseJSON(jsonTextInvestments);

	//draw the chart for investments
	drawPieChart('investmentsView', 'Investments By Current Value', 'Investment', jsonObjectInvestments);




</script>
{% endblock %}