{% block content %}
<p> Investments Summary </p>

<table class="table table-striped">
	<tr>
		<td>Name</td>
		<td>Amount</td>
		<td>Date</td>
		<td/>
		<td/>
	</tr>
	{% for data in object_list %}
	<tr>
		<td><a href="viewInvestment/{{ data.id }}/" >{{ data.name }}</a></td>
		<td>{{ data.amount }}</td>
		<td> {{data.date }}</td>
		<td><a href="deleteInvestment/{{ data.id }}/" ><span class="glyphicon glyphicon-remove" aria-hidden = "true"/></a></td>
		<td><a href="updateInvestment/{{ data.id }}/" ><span class="glyphicon glyphicon-pencil" aria-hidden = "true"/></a></td>
	
	</tr>
	{% endfor%}
</table>

{% endblock %}