{% load custom_filters %}
{% load humanize %}
{% block content %}
<h3> Sector Indices</h3>

<div id="sectorCapitalization"/>
<script>	

//JSON text for investments
var jsonTextInvestments ='[' +
{% for data in object_list %}
	'{"name" : "{{ data.sector.name }}", "y" :  {{ data.value|div:cumilatedSectorValue }} },'+
{% endfor%}
	']';

	//remove the comma of last item
	jsonTextInvestments = jsonTextInvestments.slice(0, -2) + ']';

	var jsonObjectInvestments = jQuery.parseJSON(jsonTextInvestments);

	//draw the chart for investments
	drawPieChart('sectorCapitalization', 'Sector Market Capitalization', 'Sectors', jsonObjectInvestments);

	
	
</script>
{% endblock %}