{% load custom_filters %}
{% load humanize %}
{% block content %}

<table class="table table-striped table-bordered" id = "investmentsList">
	<tr>
		<td>Company</td>
		<td>Div Yeild %</td>
		<td>Dividend Profile</td>
		<td>Scrip Dividend Profile</td>
		<td>Last Dividend Date</td>
		<td>Consistency Indicator</td>
		<td>Last Traded Price</td>
	</tr>
	{% for data in divAggData %}
	<tr>
		<td><a href="https://www.cse.lk/home/company-info/{{ data.company.symbol}}/financial" target="_blank">{{data.company.symbol }}</a></td>
		<td>{{ data.currentDivYeild | floatformat:2 | intcomma}}</td>
		<td>
		{% for year, value in data.yearlyDividend.items %}
		 {{ year }}-{{ value.0 }}|
		{% endfor %}
		</td>
		<td>
		{% for year, value in data.yearlyDividend.items %}
            {% if value.1 > 0 %}
		        {{ year }}-{{ value.1 }}|
            {% endif %}
            {% endfor %}
		</td>
		<td>{{ data.latestDividendDate }}</td>
		<td>{{ data.dividendGrowthLastFiveYears | floatformat:2 | intcomma}}</td>
		<td>{{ data.lastTradedPrice }}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}